.Gallery {
  margin-top: 30px;
}

.Gallery__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
}

.Gallery__span {
  font-size: 30px;
}

@media screen and (max-width: 1050px) {
  .Gallery {
    margin-top: 10px;
  }

  .Gallery__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 10px;
  }
}

@media screen and (max-width: 780px) {
  .Gallery__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .Gallery__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
