.App {
  min-height: 100vh;
  padding: 0 90px;
  max-width: 1080px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .App {
    padding: 0 50px;
  }
}

@media screen and (max-width: 600px) {
  .App {
    padding: 0 20px;
  }
}
