.App__container {
  min-height: 100vh;
  padding: 20px 90px;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

.App-header {
  font-size: 30px;
}

.App-header__title {
  margin: 0;
  padding: 0;
}

.App_theme_dark {
  background-color: rgb(36, 35, 35);
  color: rgb(209, 209, 198);
}

@media screen and (max-width: 900px) {
  .App__container {
    padding: 0 50px;
  }
}

@media screen and (max-width: 600px) {
  .App-header__title {
    text-align: center;
  }
  .App__container {
    padding: 0 20px;
  }
}
